@use "../01_utilities/variables" as utilities;
@use "sass:list";

:root {
    @for $i from 1 through list.length(utilities.$border-width) {
        $border-width: list.nth(utilities.$border-width, $i);
        --mlt-sys-border-width-#{$i}: #{$border-width};
    }
}

@for $i from 1 through list.length(utilities.$border-width) {
    .g--border-width-#{$i} {
        border-width: var(--mlt-sys-border-width-#{$i}) !important;
    }
}
