@use "sass:list";
@use "../01_utilities/_variables" as utilities;

:root {
    @each $nombre, $tonalidad in utilities.$colores {
        @for $i from 1 through list.length($tonalidad) {
            --mlt-sys-color-#{$nombre}-#{$i}: #{list.nth($tonalidad, $i)};
        }
    }
}

@each $nombre, $tonalidad in utilities.$colores {
    @for $i from 1 through list.length($tonalidad) {
        .g--color-#{$nombre}-#{$i} {
            color: var(--mlt-sys-color-#{$nombre}-#{$i}) !important;
        }
    }
}

@each $nombre, $tonalidad in utilities.$colores {
    @for $i from 1 through list.length($tonalidad) {
        .g--background-color-#{$nombre}-#{$i} {
            background-color: var(--mlt-sys-color-#{$nombre}-#{$i}) !important;
        }
    }
}

@each $nombre, $tonalidad in utilities.$colores {
    @for $i from 1 through list.length($tonalidad) {
        .g--border-color-#{$nombre}-#{$i} {
            border-color: #{list.nth($tonalidad, $i)} !important;
        }
    }
}


