@use "sass:list";
@use "../01_utilities/_variables" as utilities;

:root {
    @each $nombre, $tonalidad in utilities.$colores {
        @for $i from 1 through list.length($tonalidad) {
            --mlt-sys-color-#{$nombre}-#{$i}: #{list.nth($tonalidad, $i)};
        }
    }
}





