@use "sass:list";
@use './01_utilities/variables' as utilities;

:root {
  @for $i from 1 through list.length(utilities.$paddings) {
    $padding: list.nth(utilities.$paddings, $i);
    --mlt-sys-padding-#{$i}:#{$paddings};
  }
}

@for $i from 1 through list.length(utilities.$paddings) {
    .g-padding-#{$i} {
        padding: var(--mlt-sys-padding-#{$i});
    }
}