.l-flex {
    display: flex;
    &--direction-row {
            flex-direction: row;
    }
    &--direction-column {
            flex-direction: column;
    }
    &--wrap {
            flex-wrap: wrap;
    }
    &--no-wrap {
            flex-wrap: nowrap;
    }
    &--justify-content-start {
            justify-content: start;
    }
    &--justify-content-center {
            justify-content: center;
    }
    &--justify-content-end {
            justify-content: end;
    }
    &--justify-content-space-between {
            justify-content: space-between;
    }
    &--align-items-start {
            align-items: start;
    }
    &--align-items-center {
            align-items: center;
    }

}
