$paddings:(0px, 4px, 6px, 8px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 56px, 64px);
$margins:(0px, 4px, 6px, 8px, 12px, 16px, 20px, 24px, 32px, 40px, 48px, 56px, 64px);
$border-radius:(0px, 2px, 4px, 6px, 8px, 12px, 16px, 20px, 24px);
$font-sizes:(10px, 12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 60px, 72px, 96px);