	
<c-articulo
  nombre="Monitor Acer Nitro KG241YX3BIP 23.8' FHD 200Hz VA FreeSync Premium HDR10"
urlImagen="https://logongas.es/lib/exe/fetch.php?cache=&media=clase:daw:diw:1eval:monitor.webp"
[precioActual]="89.99"
[precioAnterior]="99.99"
[valoracion]="4.6"
[numeroOpiniones]="1472"
[precioEnvio]="90.00"
[otrosEnvios]="true"
[fechaEntrega]="'2024-12-15'"
[articleBackgroundColor]="'dark'"
[articleWidth]="'small'"
/>

<c-boton [funcion]="'primaria'">Comprar</c-boton>
<c-boton [funcion]="'secundaria'">Comprar</c-boton>
<c-boton [funcion]="'peligrosa'">Comprar</c-boton>

<c-barra-progreso [progreso]="50" [string]="'Progreso'"></c-barra-progreso>
<br>
<c-panel [color]="'rojo'" ></c-panel>