
.c-articulo {
  --c-articulo-font-family: var(--mlt-sys-font-family-sans-serif);
  --c-articulo-width:var(--mlt-sys-width-12);
  --c-articulo-font-size-small: var(--mlt-sys-font-size-2);
  --c-articulo-font-size-medium: var(--mlt-sys-font-size-6);
  --c-articulo-font-size-large: var(--mlt-sys-font-size-8);
  --c-articulo-title-color: var(--mlt-sys-color-principal-1);
  --c-articulo-precio-color: var(--mlt-sys-color-principal-1);
  --c-articulo-precio-actual-color: var(--mlt-sys-color-rojo-5);
  --c-articulo-precio-anterior-color: var(--mlt-sys-color-gris-5);
  --c-articulo-precio-envio-color: var(--mlt-sys-color-amarillo-5);


  font-family: var(--c-articulo-font-family);
  width: var(--c-articulo-width);
 
  &__title {
    font-size: var(--c-articulo-font-size-large);
    font-weight: 500;
    color: var(--c-articulo-title-color);

  }
 
  &__precio {
    font-size: var(--c-articulo-font-size-medium);
    margin-top: 4px;
    margin-bottom: 4px;
    &--actual {
      font-size: var(--c-articulo-font-size-medium);
      font-weight: 700;
      color: var(--c-articulo-precio-actual-color);
    }
 
    &--anterior {
      font-size: var(--c-articulo-font-size-medium);
      color: var(--c-articulo-precio-anterior-color);
      text-decoration: line-through;
    }
 
    &--envio {
      font-size: var(--c-articulo-font-size-medium);
      color: var(--c-articulo-precio-envio-color);
      font-weight: 600;
    }
  }
 
  &__valoracion {
    font-size: var(--c-articulo-font-size-small);
    font-weight: 600;
    color: var(--c-articulo-title-color);
  }
 
  &__opiniones {
    color: var(--c-articulo-title-color);
    font-size: 13px;
  }
  &__entrega {
    font-size: 13px;
    font-weight: 700;
 
    &--positivo {
      color: #008000;
    }
 
    &--negativo {
      color: #333333;
    }
  }
 
  &__otras-opciones {
    font-size: 13px;
    color: #777;
    font-weight: 600;
  }
 
}