.c-panel {
    --c-panel-border-color: var(--mlt-sys-color-principal-5);
    --c-panel-border-radius: var(--mlt-sys-border-radius-5);
    --c-panel-border-width: var(--mlt-sys-border-width-8);
    --c-panel-font-size: var(--mlt-sys-font-size-4);
    --c-panel-margin: var(--mlt-sys-margin-4);
    --c-panel-color: var(--mlt-sys-color-blanco-9);
    --c-panel-background-color: var(--mlt-sys-color-principal-9)

    border-width: var(--c-panel-border-width);
    border-color: var(--c-panel-border-color);
    border-radius: var(--c-panel-border-radius);
    border-style: solid;
    font-size: var(--c-panel-font-size);
    margin: var(--c-panel-margin);
    color: var(--c-panel-color);

    &__header {
        --c-panel-header-background-color: var(--mlt-sys-color-principal-5);
        --c-panel-header-padding: var(--mlt-sys-padding-5);
        --c-panel-header-color: var(--mlt-sys-color-blanco-9);
        --c-panel-header-font-size: var(--mlt-sys-font-size-5);
        --c-panel-header-font-weight: var(--mlt-sys-font-weight-7);

        background-color: var(--c-panel-header-background-color);
        padding: var(--c-panel-header-padding);
        color: var(--c-panel-header-color);
        font-size: var(--c-panel-header-font-size);
        font-weight: var(--c-panel-header-font-weight);

    }
    &__body {

        --c-panel-body-padding: var(--mlt-sys-padding-3);
        --c-panel-body-color: var(--mlt-sys-color-principal-1);
        padding: var(--c-panel-body-padding);
        color: var(--c-panel-body-color);
        
        &--contenido {
            --c-panel-body-contenido-font-size: var(--mlt-sys-font-size-4);
            --c-panel-body-contenido-margin-bottom: var(--mlt-sys-margin-3);
            --c-panel-body-contenido-color: var(--mlt-sys-color-principal-1);
            font-size: var(--c-panel-body-contenido-font-size);
            margin-bottom: var(--c-panel-body-contenido-margin-bottom);
            color: var(--c-panel-body-contenido-color);
        }
    }

    &--azul {
    --c-panel-border-color: var(--mlt-sys-color-principal-5);
        .c-panel__header {
            --c-panel-header-background-color: var(--mlt-sys-color-principal-5);
        }
    }

    &--rojo {
        --c-panel-border-color: var(--mlt-sys-color-rojo-5);
        .c-panel__header {
            --c-panel-header-background-color: var(--mlt-sys-color-rojo-5);
        }
    }
    &--verde {
        --c-panel-border-color: var(--mlt-sys-color-alternativo-5);
        .c-panel__header {
            --c-panel-header-background-color: var(--mlt-sys-color-alternativo-5);
        }
    }
}